main {
	margin-right: auto;
	margin-left: auto;
	width: 800px;
	height: 500px;
	font-size: 0;
}

.box {
	border: black solid 1px;
	display: inline-block;
}

.innerTop {
	height: 200px;
 width: 50%;
}

.innerBottom {
	height: 300px;
 width: 33.33%;
}

.green {
	background-color: green;
}

.blue {
	background-color: blue;
}

.gray {
	background-color: gray;
}

.black {
	background-color: black;
}

.orange {
	background-color: orange;
}